.box-bgcolor {
  background-color: #11427A;
}

.box-simple-panel {
  background-color: #ffffff;
  border-radius: 5px;
}

.esriSimpleSlider {
  text-align: center;
  color: #ffffff;
  background-color: #646464;
  cursor: pointer;
  border-radius: 0px;
}

.jimu-widget-zoomslider,
.jimu-widget-homebutton,
.jimu-widget-mylocation {
  background-color: #646464;
}

.esriPopup .titlePane {
  background-color: #646464;
}
